<%= link_to 'View Admissions', course_assignment_admissions_path(assignment_id: @assignment.id), class: 'btn btn-main' %>
<%= link_to 'Report', course_assignment_report_path(assignment_id: @assignment.id) , class: 'btn btn-main' %> <br>

<h2><%= @assignment.name %></h3>
<p><%= @assignment.description%></p>
