<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="avatar">
      <div class="w-12 rounded">
        <img src="<%= course.avatar_url %>" />
      </div>
    </div>
    <%= link_to course do %>
      <h2 class="card-title"><%= course.login %></h2>
    <% end %>
    <p><%= course.description %></p>
  </div>
</div>
