<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title"><%= org.login %></h2>
    <p><%= org.description %></p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Add course</button>
    </div>
  </div>
</div>
