<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="avatar">
      <div class="w-12 rounded">
        <img src="<%= org.avatar_url %>" />
      </div>
    </div>
    <h2 class="card-title"><%= org.login %></h2>
    <p><%= org.description %></p>
    <div class="card-actions justify-center">
      <%= button_to 'Add course', courses_url(course: { name: org.login }), class: 'btn btn-primary'%>
    </div>
  </div>
</div>
