<div class="container mx-auto">
    <h1>My Courses</h1>
    <%= link_to 'Add a course', new_course_url, class: 'btn btn-main' %>

    <% @courses.each do |course| %>
        <%= render 'course_card', course: course %>
    <% end %>
</div>
