<div class="container grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <% @repos.each do |repo| %>
        <div class="card card-normal w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="card-title">
                    <h2><%= repo.name %></h2>
                </div>
                <p><%= repo.description %></p>
                <div class="card-actions justify-end">
                    <%= link_to 'View in Github', repo.html_url , target: '_blank', class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    <% end %>
</div>
