<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/github-dark.min.css">
<% if @pairs %>
    <div class="flex justify-between items-center">
        <h1 class="text-lg">Report</h1>
    </div>
    <div data-controller="report">
        <button data-action="click->report#back" data-report-target="button" class="btn btn-primary hidden">BACK</button>
        <div class="overflow-x-auto">
            <table class="table table-compact w-full" data-report-target="table">
                <thead>
                <tr>
                    <% @pairs.headers.each do |header| %>
                        <th><%= header %></th> 
                    <% end %>
                </tr>
                </thead> 
                <tbody>
                    <% @pairs.each do |pair| %>
                        <tr data-action="click->report#details" data-report-target="row">
                            <% pair.each do |value| %>
                                <td><%= value[1] %></td>
                            <% end %>
                        </tr> 
                    <% end %>
                </tbody> 
                <tfoot>
                <tr> 
                    <% @pairs.headers.each do |header| %>
                        <th><%= header %></th> 
                    <% end %>
                </tr>
                </tfoot>
            </table>
        </div>

        <div data-report-target="codes" class="mx-auto grid grid-cols-2 gap-5 py-2">
            <pre><code data-report-target="codeBlock" class="hljs"></code></pre>
            <pre><code data-report-target="codeBlock" class="hljs"></code></pre>
        </div>
    </div>
<% end %>
